.search_box{
  height: 0;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -moz-transition: all 500ms ease;

}
.box_after{
  height: 48px;
  border-bottom: 2px solid #f10214;
}
.search_box .w{
  height: 48px;
  position: relative;
}
.search_box .w .logo{
  position: absolute;
  top: 4px;
  left: 0;
  height: 40px;
  width: 125px;
  background-color: gold;
  box-shadow: 0 0 0;
}
.search_box .w .search{
  margin-top: 2px;
}
.search_box .w .search .search_shop{
  background-color: #efefef;
}
.search_box .w .logo a{
  display: block;
  height: 40px;
  width: 125px;
  font-size: 0;
  background: url(../images/sprite.head.png) no-repeat;
  background-position: -195px 0;
  
}
.search_box .search{
  position: absolute;
  top: 4px;
  left: 320px;
  height: 35px;
  width: 552px;
}
