*,li,a{margin:0px;padding:0px;list-style-type: none;text-decoration:none;}

.top-bar{width:100%;height: 33px;background-color:#F2F2F2;}
.top-bar .mian-bar{width: 1200px;height: 33px;margin:0px auto;}
.top-bar .mian-bar a{color: #999999;font-size: 12px;line-height:33px;}
.top-bar .mian-bar a:hover{color: red;}

.header{width:100%;height:auto;}
.header .header-nav{width: 1200px;height: 77px;margin:0px auto;}
.header .header-nav>ul{padding-top:40px;}
.header .header-nav>ul .li1{position: absolute;}
.header .header-nav>ul .li1 ul .text{width: 160px;height: 28px;background-color: red;padding-top: 8px;cursor:pointer;}
.header .header-nav>ul .li1 ul .text a{color:#FFFFFF;font-size: 16px;margin-left: 50px;font-weight: 600;}
.header .header-nav>ul .li1 ul .text1{width: 160px;height: 32.2px;background-color:rgba(0,0,0,0.6);padding-top: 10px;background-image: url(../images/img1.png);background-repeat: no-repeat;background-position: 30px 16px;cursor:pointer;}
.header .header-nav>ul .li1 ul .text1 a{color:#FFFFFF;font-size: 12px;margin-left: 52px;font-weight: 600;}
.header .header-nav>ul .li1 ul .text1:hover{background-color: red;border-top: 0.09px solid #FFFFFF;}
.header .header-nav>ul .li1 ul .text2{width: 160px;height: 32.2px;background-color:rgba(0,0,0,0.6);padding-top: 10px;background-image: url(../images/img2.png);background-repeat: no-repeat;background-position: 30px 16px;cursor:pointer;}
.header .header-nav>ul .li1 ul .text2 a{color:#FFFFFF;font-size: 12px;margin-left: 52px;font-weight: 600;}
.header .header-nav>ul .li1 ul .text2:hover{background-color: red;}
.header .header-nav>ul .li1 ul .text3{width: 160px;height: 32.2px;background-color:rgba(0,0,0,0.6);padding-top: 10px;background-image: url(../images/img3.png);background-repeat: no-repeat;background-position: 30px 17px;cursor:pointer;}
.header .header-nav>ul .li1 ul .text3 a{color:#FFFFFF;font-size: 12px;margin-left: 52px;font-weight: 600;}
.header .header-nav>ul .li1 ul .text3:hover{background-color: red;}
.header .header-nav>ul .li1 ul .text4{width: 160px;height: 32.2px;background-color:rgba(0,0,0,0.6);padding-top: 10px;background-image: url(../images/img4.png);background-repeat: no-repeat;background-position: 30px 16px;cursor:pointer;}
.header .header-nav>ul .li1 ul .text4 a{color:#FFFFFF;font-size: 12px;margin-left: 52px;font-weight: 600;}
.header .header-nav>ul .li1 ul .text4:hover{background-color: red;}
.header .header-nav>ul .li1 ul .text5{width: 160px;height: 32.2px;background-color:rgba(0,0,0,0.6);padding-top: 10px;background-image: url(../images/img5.png);background-repeat: no-repeat;background-position: 30px 17px;cursor:pointer;}
.header .header-nav>ul .li1 ul .text5 a{color:#FFFFFF;font-size: 12px;margin-left: 52px;font-weight: 600;}
.header .header-nav>ul .li1 ul .text5:hover{background-color: red;}
.header .header-nav>ul .li2{width: 180px;height: 36px;margin-left:180px;}
.header .header-nav>ul .li2 a{font-size: 16px;color: #666666;font-weight: 800;margin-left: 50px;line-height: 36px;}
.header .header-nav>ul .li2 a:hover{color: red;}
.header .header-broadcast{width: 1900px;height: 680px;}
.header .header-broadcast img{width: 1920px;height: 680px;}

.content{width: 1920px;height: auto;min-width: 1000px;background-color: #F5F8FD;}
.content .main-content1{width: 100%;height: 780px;}
.content .main-content1 .title1{width: 1920px;height: 149px;background-color:#EFFAFF; }
.content .main-content1 .title1 p{font-size:32px;font-weight: 800;color: #45A7D9;line-height: 149px;text-align: center;}
.content .main-content1 .display-box{width: 1220px;height: 580px;margin:0px auto;background-color: #FFFFFF;}
.content .main-content1 .display-box .display-title{width: 1220px;height: 110px;}
.content .main-content1 .display-box .display-title .p1{float: left;width:590px;height:110px;background-image: url(../images/video.png); background-repeat:no-repeat;background-position: 0px 34px;}
.content .main-content1 .display-box .display-title .p2{float: right;width:590px;height:110px;background-image: url(../images/Cost.png); background-repeat:no-repeat;background-position: 0px 34px;}
.content .main-content1 .display-box .display-title div p{margin-left:50px;font-size: 32px;color: #222222;line-height: 110px;}
.content .main-content1 .display-box .video-display video{width: 602px;height: 469px;float: left;border:1px solid black;}
.content .main-content1 .display-box .right-display{width: 590px;height: 466px;float: right;}
.content .main-content1 .display-box .right-display .display1{width:558px; height:170px;background: #46A7DA;}
.content .main-content1 .display-box .right-display .display1 .img1{float: left;width: 168px;height: 170px;}
.content .main-content1 .display-box .right-display .display1 .text-explain1{float: right;}
.content .main-content1 .display-box .right-display .display1 .text-explain1 p{width: 380px;font-size:13px; color:#FFFFFF;line-height: 23px;padding-top: 7px;}
.content .main-content1 .display-box .right-display .display1 .text-explain1 a{font-size:16px; color:#FFFFFF;line-height: 23px;font-weight: 600;}
.content .main-content1 .display-box .right-display .display1 .text-explain1 a:hover{color: red;font-weight: 600;}
.content .main-content1 .display-box .right-display .display2{width:558px;height: 131px;background-image: url(../images/milk.png);background-repeat:no-repeat;background-position: 0px 43px;}
.content .main-content1 .display-box .right-display .display2 p{font-size: 32px;color: #222222;line-height: 120px;margin-left: 45px;}
.content .main-content1 .display-box .right-display .display3{width:558px; height:170px}
.content .main-content1 .display-box .right-display .display3{width:558px; height:170px;background: #46A7DA;}
.content .main-content1 .display-box .right-display .display3 .img3{float: left;width: 168px;height: 170px;}
.content .main-content1 .display-box .right-display .display3 .text-explain3{float: right;}
.content .main-content1 .display-box .right-display .display3 .text-explain3 p{width: 380px;font-size:13px; color:#FFFFFF;line-height: 23px;padding-top: 7px;}
.content .main-content1 .display-box .right-display .display3 .text-explain3 a{font-size:16px; color:#FFFFFF;line-height: 23px;font-weight: 600;}
.content .main-content1 .display-box .right-display .display3 .text-explain3 a:hover{color: red;font-weight: 600;}
.content .main-content2{width: 100%;height: auto;}
.content .main-content2 .title2{width: 100%;height: 149px;background-color:#FFE4ED; }
.content .main-content2 .title2 p{font-size:32px;font-weight: 800;color: #FF73A3;line-height: 149px;text-align: center;}
.content .main-content2 .introduce{width: 1220px;height:320px;margin:70px auto;margin-bottom: 20px;}  
.content .main-content2 .introduce ul li{width: 201px;height: 160px;float: left;}
.content .main-content2 .introduce ul li div{margin:0px auto;text-align: center;}
.content .main-content2 .introduce ul li div img{width:92px;height: 92px;}
.content .main-content2 .introduce ul li div img:hover{width:95px;height: 95px;cursor:pointer;}
.content .main-content2 .introduce ul li p{font-size: 12px;color: #222222;font-weight: 600;text-align: center;}
.content .main-content3{width: 100%;height: 898px;background-color: #FAF6EA;}
.content .main-content3 .title3{width: 100%;height: 149px;background-color:#F7E8BD; }
.content .main-content3 .title3 p{font-size:32px;font-weight: 800;color: #CB8A44;line-height: 149px;text-align: center;}
.content .main-content3 .runner-introduce{width: 100%;height: 749px;background-image: url(../images/runner.png);background-repeat: no-repeat;background-position: 680px 60px;}
.content .main-content3 .runner-introduce ul li{width: 284px;height:86px;float: left;}
.content .main-content3 .runner-introduce ul li {font-size: 19px;color: #CB8A44;}
.content .main-content3 .runner-introduce ul li span{font-size: 32px;color: #FF676A;font-weight: 600;} 
.content .main-content3 .runner-introduce ul .introduce1{position: relative;top: 90px;left: 570px;}
.content .main-content3 .runner-introduce ul .introduce2{position: relative;top: 190px;left: 930px;}
.content .main-content3 .runner-introduce ul .introduce3{position: relative;top: 440px;left: 650px;}
.content .main-content3 .runner-introduce ul .introduce4{position: relative;top: 615px;left: -40px;}
.content .main-content3 .runner-introduce ul .introduce5{position: relative;top: 350px;left: -750px;}
.content .main-content3 .runner-introduce ul .introduce6{position: relative;top: 310px;left: -600px;text-align: center; }
.content .main-content3 .runner-introduce ul .introduce6 p{font-size: 32px;color: #E28A20;font-weight: 800;}
.content .main-content3 .runner-introduce ul .introduce6 button{width: 120px;height: 30px;background-color: #FF676A;color: #FFFFFF;cursor:pointer;font-size: 16px;border-radius: 20px;border: none;margin-top: 15px;}
.content .main-content3 .runner-introduce ul .introduce6 button:hover{background-color:red; }
.content .main-content4{width: 100%;height: auto;background-color: #F5F8FD;}
.content .main-content4 .title4{width: 100%;height: 149px;background-color:#D0E1FD; }
.content .main-content4 .title4 p{font-size:32px;font-weight: 800;color: #4882E4;line-height: 149px;text-align: center;}
.content .main-content4 .content-box{width: 1200px;height: 860px;margin:50px auto;}
.content .main-content4 .content-box .title-introduce{width: 1200px;height: 85px;background-color: #FD7F82;border-radius: 10px;margin-bottom:18px; }
.content .main-content4 .content-box .title-introduce img{width: 110px;height: 69px;margin-top: 7.5px;margin-left: 7px;}
.content .main-content4 .content-box .title-introduce p{float: right;width: 1070px;font-size: 14px;color: #FFFFFF;line-height: 25px;margin:15px auto;}
.content .main-content4 .content-box .Hospital-box{width: 270px;height: 330px;float: left;margin:10px 14px;}
.content .main-content4 .content-box .Hospital-box div img{width: 270px;height: 180px;}
.content .main-content4 .content-box .Hospital-box .text .text1{font-size: 16px;color: #3c3c3c;text-align: center;font-weight: 600;margin-top: 8px;}
.content .main-content4 .content-box .Hospital-box .text .text2{font-size: 14px;color: #6A6A6A;text-align: center;font-weight: 600;margin-top: 16px;}
.content .main-content4 .content-box .Hospital-box .text .btn{width: 132px;height: 30px;border-radius: 28px;background-color: #77A9FE;margin:12px auto;}
.content .main-content4 .content-box .Hospital-box .text .btn:hover{background-color: #FD7F82;cursor:pointer;}
.content .main-content4 .content-box .Hospital-box .text .btn p{text-align: center;color:#FFFFFF;padding-top: 4px;}
.content .main-content4 .content-box .text-box p{float: right;margin-top:25px;margin-right: 15px;font-size: 16px;}
.content .main-content4 .content-box .text-box p:hover{color: red;cursor:pointer; }
.content .main-content5{width: 100%;height: auto;background-color: #FCF6F8;}
.content .main-content5 .title5{width: 100%;height: 149px;background-color:#FFE4ED; }
.content .main-content5 .title5 p{font-size:32px;font-weight: 800;color: #FF80AC;line-height: 149px;text-align: center;}
.content .main-content5 .expert-bar{width: 1200px;height:480px;margin:0px auto;}
.content .main-content5 .expert-bar button{width: 35px;height: 60px;margin-top:130px;border:none;float: left;}
.content .main-content5 .expert-bar .btn5{background-image: url(../images/bg1.png);background-repeat: no-repeat;cursor: pointer; }
.content .main-content5 .expert-bar .btn6{background-image: url(../images/bg2.png);background-repeat: no-repeat;cursor: pointer; }
.content .main-content5 .expert-bar ul li{width: 223.8px;height: 360px;float:left;margin-top: 60px;text-align: center;}
.content .main-content5 .expert-bar ul li .text1{font-size: 16px;color: #3c3c3c;font-weight: 800;margin-top: 8px;}
.content .main-content5 .expert-bar ul li .text2{font-size: 14px;color: #6a6a6a;margin-top: 16px;}
.content .main-content5 .expert-bar ul li .btn3{width: 100px;height: 30px;border-radius: 30px;background-color:#77A9FE;margin: 12px auto;}
.content .main-content5 .expert-bar ul li .btn3:hover{background-color:#FD7F82;}
.content .main-content5 .expert-bar ul li .btn3 p{padding-top:3px;color: #ffffff;cursor: pointer; }
.content .main-content6{width: 100%;height: auto;background-color: #FCF6F8;}
.content .main-content6 .title6{width: 100%;height: 149px;background-color:#F7E8BD; }
.content .main-content6 .title6 p{font-size:32px;font-weight: 800;color: #CB8A44;line-height: 149px;text-align: center;}
.content .main-content6 .title-introduce{width: 1200px;height: 85px;background-color: #FD7F82;border-radius: 10px;margin: 0px auto;margin-top:60px;}
.content .main-content6 .title-introduce img{width: 110px;height: 69px;margin-top: 7.5px;margin-left: 7px;}
.content .main-content6 .title-introduce p{float: right;width: 1070px;font-size: 14px;color: #FFFFFF;line-height: 25px;margin:15px auto;}
.content .main-content6 .Cartoon-box{width: 1200px;height: 548px;margin: 0px auto;}
.content .main-content6 .Cartoon-box .Cartoon1{width: 303px;height: 61px;border:1px solid red;border-radius: 5px;margin: 30px auto;text-align: center;}
.content .main-content6 .Cartoon-box .Cartoon1 p{font-size: 2vw;padding-top: 7px;color: red;}
.content .main-content6 .Cartoon-box .Cartoon2{width: 1280px;height: 290px;}
.content .main-content6 .Cartoon-box .Cartoon2 img{width: 255px;height: 290px;border-radius:10px;margin-right: 55px; }
.content .main-content6 .Cartoon-box .Cartoon3{width: 1200px;height: 130px;line-height: 130px;}
.content .main-content6 .Cartoon-box .Cartoon3 p{float: right;color: black;}
.content .main-content6 .Cartoon-box .Cartoon3 p:hover{color: red;cursor: pointer;}
.content .main-content7{width: 100%;height: auto;background-color: #F5F8FD;border: 1px solid red;}
.content .main-content7 .title7{width: 100%;height: 149px;background-color:#D0E1FD; }
.content .main-content7 .title7 p{font-size:32px;font-weight: 800;color: #4882E3;line-height: 149px;text-align: center;}
.content .main-content7 .title-introduce{width: 1200px;height: 85px;background-color: #FD7F82;border-radius: 10px;margin: 0px auto;margin-top:60px;}
.content .main-content7 .title-introduce img{width: 110px;height: 69px;margin-top: 7.5px;margin-left: 7px;}
.content .main-content7 .title-introduce p{float: right;width: 1070px;font-size: 14px;color: #FFFFFF;line-height: 25px;margin:15px auto;}
.content .main-content7 .case-bar{width: 1200px;height: 280px;margin:0px auto;}
.content .main-content7 .case-bar button{width: 35px;height: 60px;margin-top:100px;border:none;float: left;}
.content .main-content7 .case-bar .btn8{background-image: url(../images/bg1.png);background-repeat: no-repeat;cursor: pointer; }
.content .main-content7 .case-bar .btn9{background-image: url(../images/bg2.png);background-repeat: no-repeat;cursor: pointer; margin-left: 60px;}
.content .main-content7 .case-bar ul li{width: 200px;height: 230px;float: left;margin-left: 65px;margin-top: 30px;}
.content .main-content7 .case-bar ul li img{width: 200px;height: 200px;}
.content .main-content7 .case-bar ul li p{text-align: center;font-size: 14px;color:#6A6A6A;}
.content .main-content7 .case3{width: 1200px;height: 130px;margin:0px auto;}
.content .main-content7 .case3 p{line-height: 130px;float: right;color: black;}
.content .main-content7 .case3 p:hover{color: red;cursor: pointer;}

.font{width: 1920px;height: auto;}
.font .buttom-box1{width: 1200px;height: 520px;margin: auto;}
.font .buttom-box1 .profile1{width: 330px;height: 350px;float: left;margin-left:10px; }
.font .buttom-box1 .profile1 .bgimg1{background-image: url(../images/zsd.png);background-repeat: no-repeat;background-position: 2px 55px;}
.font .buttom-box1 .profile1 .bgimg1 p{padding-top:52px;padding-left: 30px;font-size: 20px;font-weight:800;color: #3C3C3C;}
.font .buttom-box1 .profile1 ul li{width:300px;height:55px;list-style-type:disc;margin-left: 5px;}
.font .buttom-box1 .profile1 ul li p{color: #3c3c3c;font-size: 12px;padding-top:20px;cursor: pointer;}
.font .buttom-box1 .profile1 ul li p:hover{color: red;}
.font .buttom-box1 .profile2{width: 330px;height: 350px;float: left;margin-left:190px;}
.font .buttom-box1 .profile2 .bgimg2{background-image: url(../images/wt.png);background-repeat: no-repeat;background-position: 2px 55px;}
.font .buttom-box1 .profile2 .bgimg2 p{padding-top:52px;padding-left: 30px;font-size: 20px;font-weight:800;color: #3C3C3C;}
.font .buttom-box1 .profile2 ul li{width:300px;height:55px;list-style-type:disc;margin-left: 5px;}
.font .buttom-box1 .profile2 ul li p{color: #3c3c3c;font-size: 12px;padding-top:20px;cursor: pointer;}
.font .buttom-box1 .profile2 ul li p:hover{color: red;}
.font .buttom-box1 .profile3{width: 210px;height: 350px;float: left;margin-left:130px;}
.font .buttom-box1 .profile3 .bgimg3{background-image: url(../images/zsk.png);background-repeat: no-repeat;background-position: 2px 55px;}
.font .buttom-box1 .profile3 .bgimg3 p{padding-top:52px;padding-left: 30px;font-size: 20px;font-weight:800;color: #3C3C3C;}
.font .buttom-box1 .profile3 ul li{width:200px;height:55px;list-style-type:disc;margin-left: 5px;}
.font .buttom-box1 .profile3 ul li p{color: #3c3c3c;font-size: 12px;padding-top:20px;cursor: pointer;}
.font .buttom-box1 .profile3 ul li p:hover{color: red;}
.font .buttom-box1 .profile4 .text-p{width: 1200px;height: 100px;float: left;}
.font .buttom-box1 .profile4 .text-p p{font-size: 20px;font-weight:800;color: #3C3C3C;line-height: 100px;}
.font .buttom-box1 .profile4 ul li{float: left;margin-right:40px; }
.font .buttom-box1 .profile4 ul li a{color:#5F89DF; font-size:12px;font-weight: 600;}
.font .buttom-box1 .profile4 ul li a:hover{color: red;}
.font .buttom-box2{width: 1920px;height: 387px;background-color: #D0E1FD;}
.font .buttom-box2 .box{width: 1200px;height: auto;margin:0px auto;}
.font .buttom-box2 .box .profile1{width: 400px;height: 280px;float: left;}
.font .buttom-box2 .box .profile1 div{width: 400px;height: 90px;}
.font .buttom-box2 .box .profile1 div p{font-size: 20px;color: #202020;line-height: 90px;font-weight: 600;}
.font .buttom-box2 .box .profile1 ul li{width: 400px;height: 40px;}
.font .buttom-box2 .box .profile1 ul li p{line-height: 40px;color:#202020;font-size: 12px;font-weight: 600; }
.font .buttom-box2 .box .profile2{width: 490px;height: 280px;float: left;}
.font .buttom-box2 .box .profile2 div{width: 500px;height: 90px;}
.font .buttom-box2 .box .profile2 div p{font-size: 20px;color: #202020;line-height: 90px;font-weight: 600;}
.font .buttom-box2 .box .profile2 ul{float: left;}
.font .buttom-box2 .box .profile2 ul li{width: 210px;height: 40px;}
.font .buttom-box2 .box .profile2 ul li p{line-height: 40px;color:#202020;font-size: 12px;font-weight: 600; }
.font .buttom-box2 .box .profile2 ul li p:hover{color: red;cursor: pointer;}
.font .buttom-box2 .box .code-box{width: 300px;height:280px;float: left; }
.font .buttom-box2 .box .code-box .QR1{width: 132px;height: auto;float: left;margin-top: 70px;}
.font .buttom-box2 .box .code-box .QR1 img{width: 132px;height: 132px;}
.font .buttom-box2 .box .code-box .QR1 p{text-align: center;font-size: 12px;color: #202020;font-weight: 600;padding-top: 4px;}
.font .buttom-box2 .box .code-box .QR2{width: 132px;height: auto;float:right;margin-top: 70px;}
.font .buttom-box2 .box .code-box .QR2 img{width: 132px;height: 132px;}
.font .buttom-box2 .box .code-box .QR2 p{text-align: center;font-size: 12px;color: #202020;font-weight: 600;padding-top: 4px;}

















