*{margin:0;padding:0}/* *通配符选择器 做案例第一行都要写的代码 权重最低*/
body{background-color:#000;perspective:800px;/*摄像头*/}
.box{/* .+名字 class选择器*/
   width:1000px;/*宽度*/
   height:350px;/*高度*/
   margin:75px auto;/*上下外边距75 左右外边距自动居中*/
   /*background-color:green;/*设置背景*/
   border:5px dotted blue;/*边框 宽度 solid实线 dotted点线  样式*/
   border-radius:20px;/*css3圆角属性*/
	 animation:go 5s infinite linear;/*定义动画运动时间 infinite无数次 linear匀速*/
	 -webkit-animation:go 5s infinite linear;
	 -o-animation:go 5s infinite linear;
	 -moz-animation:go 5s infinite linear;
   }
.box:hover{
		animation-play-state:paused;/*动画移动 暂停*/	
		}
@keyframes go{/*定义动画 go:定义动画的一个名字,无意义*/
			0%{transform:rotateX(45deg)}
			0%{-webkit-transform:rotateX(45deg)}
			0%{-o-transform:rotateX(45deg)}
			0%{-moz-transform:rotateX(45deg)}
			50%{transform:rotateX(-45deg)}
			50%{-webkit-transform:rotateX(-45deg)}
			50%{-o-transform:rotateX(-45deg)}
			50%{-moz-transform:rotateX(-45deg)}
			100%{transform:rotateX(45deg)}
			100%{-webkit-transform:rotateX(45deg)}
			100%{-o-transform:rotateX(45deg)}
			100%{-moz-transform:rotateX(45deg)}
			}
.box ul{
	 display:flex;/*开启弹性盒模型*/
	 /*justify-content:space-around;弹性子元素水平均分*/
	 /*align-items:center;弹性子元素竖直均分*/
	 list-style:none;/*无序列表 去掉小黑点*/
	 height:350px;
	 /*background-color:yellow;*/
	 
	 }

.box ul li{/*混合选择器*/
	   width:220px;
	   height:300px;
	   margin:auto;
       /*background-color:green;*/
		 -moz-transform-style:preserve-3d;/*让子级元素在3d空间占据位置*/
		 -webkit-transform-style:preserve-3d;
		 -o-transform-style:preserve-3d;
		 transform-style:preserve-3d;
	   
	   }
.box ul li img{
			transition:.8s;
			-moz-transition:.8s;
			-webkit-transition:.8s;
			-o-transition:.8s;
		}
.box ul li:hover .text{/*当鼠标移动上去 改变的值*/
				transform:rotateY(0deg);
				-moz-transform:rotateY(0deg);
				-webkit-transform:rotateY(0deg);
				-o-transform:rotateY(0deg);
				}
.box ul li:hover img{
				transform:rotateY(90deg);
				-moz-transform:rotateY(90deg);
				-webkit-transform:rotateY(90deg);  
				-o-transform:rotateY(90deg);
			}
.box ul li .text{
        width:220px;
		    height:300px;
		    margin-top:-305px;
		    background-color:#008000;/*Qq截图工具 调出颜色色号 rgb鼠标直接显示 按ctrl切换16进制*/
				transform:rotateY(-90deg);/*css3变换属性:旋转 负值逆时针*/
				-moz-transform:rotateY(-90deg);
				-webkit-transform:rotateY(-90deg);
				-o-transform:rotateY(-90deg);
				transition:.8s;/*动画过度时间.5s比0.5s更优*/
				-moz-transition:.8s;
				-webkit-transition:.8s;
				-o-transition:.8s;
		    }
.box ul li .text h3{
			color:#fff;/*设置文字颜色 白色*/
			font-size:26px;/*设置文字大小*/
			text-align:center;/*设置文字居中*/
			line-height:85px;/*设置一行文字所占高度*/}
.box ul li .text p{
			color:#fff;
			text-indent:2em;/*设置首行缩进 em:文字大小*/
			font-weight:600;/*设置文字加粗*/
			line-height:32px;
			}